TABLE {

        width: 90%; /* Ширина таблицы */
        border: 1px solid black; /* Рамка вокруг таблицы */
       }
       TD, TH {
        width: 50px; /* Ширина таблицы */
        text-align: center;
        padding: 3px; /* Поля вокруг содержимого ячеек */
        border: 1px solid black; /* Рамка вокруг ячейки */
       }
       TH {
        width: 20px; /* Ширина таблицы */
        text-align: center; /* Выравнивание по левому краю */
        background: #5d8291; /* Цвет фона */
        color: white; /* Цвет текста */
       }
       tr:nth-child(even) {
          background: #e4e7e8;
          text-align: right;
        }
       .dell {
        background: #e27f75; /* Синий цвет фона */
        color: white; /* Белые буквы */
        font-size: 9pt; /* Размер шрифта в пунктах */
       }
       .edit {
        background: #6fbca0; /* Синий цвет фона */
        color: white; /* Белые буквы */
        font-size: 9pt; /* Размер шрифта в пунктах */
       }
       .add {
        background: #79a1e2; /* Синий цвет фона */
        color: white; /* Белые буквы */
        font-size: 9pt; /* Размер шрифта в пунктах */
       }

       .input {width: 100%; height: 30px; text-align: center}
       .inputCheck {width: 100%; height: 20px; text-align: center}
       .input1 {width: 100%; height: 100%; text-align: center}
       .inputNT {width: 1152px; height: 45px; text-align: center; font-size: 25px}
       .type {text-align: center; height: 35px}
       .inputNumber {width: 165px; height: 25px}

      a.boton1{
          cursor: pointer;
          background:#eee;
          color:#088;
          text-decoration:none;
          display:block;
          width:180px;
          text-align: center;
          margin: 20px auto;
          padding:10px 10px;
          transition:all 0.3s;
          }
         a.boton1:hover{
          box-shadow:0px -5px 0 #088 inset;
        }